<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> 404 | Not Found</title>
</head>
<body>
    <header class="bg-yellow-500 text-lg py-3">
        <nav>
            <ul class="flex flex-row md:max-w-xs w-[45%] justify-around  md:items-center md:justify-evenly text-md font-lg md:font-medium">
                <li><a class="text-white hover:text-purple-700 " href="/">Shop</a></li>
                <li><a href="/admin/add-product" class="text-purple-700 hover:text-purple-700">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="md:my-4 m-3 text-3xl font-lg md:text-5xl md:ml-12">Page not found</h1>
</body>
</html>