<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script> 
    <title>Add Product</title>
</head>

<body>
    <header class="bg-yellow-500 text-lg py-3">
        <nav>
            <ul class="flex flex-row md:max-w-xs w-[45%] justify-around  md:items-center md:justify-evenly text-md md:font-medium">
                <li><a class="text-purple-700 active:text-purple-700 hover:text-purple-700" href="/">Shop</a></li>
                <li><a href="/admin/add-product" class="text-white hover:text-purple-700">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="p-6">
        <h1 class="md:text-4xl text-3xl font-bold my-3">My Products</h1>
        <p class="font-bold">List of all the products...</p>
    </main>
</body>

</html>